name: CI/CD

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  pruebas:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Comentar en el PR (Inicio)
        if: github.event_name == 'pull_request'
        uses: thollander/actions-comment-pull-request@v3
        with:
          message: "CI/CD en acción. Ejecutando tareas …"

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9' # o la versión de Python que uses

      - name: Instalar dependencias
        run: pip install -r requirements.txt

      - name: Añadir la raíz del proyecto al PYTHONPATH
        run: echo "::set-env name=PYTHONPATH::$(pwd)"

      - name: Correr pruebas unitarias con pytest
        run: pytest tests/

      - name: Comentar en el PR (Resultado de pruebas)
        if: github.event_name == 'pull_request'
        uses: thollander/actions-comment-pull-request@v3
        with:
          message: |
            CI/CD finalizado.
            Resultado de las pruebas unitarias: ${{ job.status }}

  pruebas_y_publicacion:
    runs-on: ubuntu-latest
    needs: pruebas # Asegura que el job de pruebas pase antes de este

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9' # o la versión de Python que uses

      - name: Instalar dependencias
        run: pip install -r requirements.txt

      - name: Añadir la raíz del proyecto al PYTHONPATH
        run: echo "::set-env name=PYTHONPATH::$(pwd)"

      - name: Loguearse en GitHub Packages
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Construir y publicar imagen Docker
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository }}:latest